.about{
    margin: 100px 0;

        .about-info{
            .btn-cv{
                background: $primary-col;
                color: #ffffff;
                border-radius: 100px;
                padding: 10px 15px;
                margin-top: 15px;

                    &:hover{
                        background: #21a77f;
                    }
                    &:active{
                        box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175) !important;
                    }
            }
        }
}